activerecord 3.0.10
amq-client	0.9.5
amq-protocol	0.9.5
amqp	0.9.8
bunny	0.8.0
daemons	1.1.9
eventmachine	1.0.0
highline	1.6.13
json	1.6.1
mime-types	1.19
mixlib-authentication	1.1.4
mixlib-cli	1.2.2
mixlib-config	1.1.2
mixlib-log	1.4.1
mixlib-shellout	1.0.0
moneta	0.6.0
mysql 2.8.1
net-ssh	2.2.2
net-ssh-gateway	1.1.0
net-ssh-multi	1.1
polyglot	0.3.3
rails 3.0.10
rest-client	1.6.7
stomp	1.2.8
symboltable	1.0.2
treetop	1.4.10
uuidtools	2.1.2
