<div class="row-fluid">
  <div class="span12">
    <h3 class="page-title">版本</h3>
  </div>
</div>

<div class="table-releases-box">

<% if (releases.length) { %>

  <table class="table table-bordered table-striped releases-table">
    <thead>
      <tr>
        <th class="name">OpenStack版本</th>
        <th class="version">版本</th>
        <th class="status">状态</th>
        <th class="actions"></th>
      </tr>
    </thead>
    <tbody></tbody>
  </table>

<% } else { %>
  <div class="alert">没有可用的版本.</div>
<% } %>

</div>
