<div class="row-fluid">
  <div class="span12">
    <h3 class="page-title">Releases / Downloads</h3>
  </div>
</div>

<div class="table-releases-box">

<% if (releases.length) { %>

  <h4>Operating Systems</h4>

  <table class="table table-bordered table-striped">
    <thead>
        <tr>
          <th width="60%">Name</th>
          <th width="12%">Version</th>
          <th width="12%">Status</th>
          <th width="16%">Action</th>
        </tr>
        <tbody>
        <tr>
          <td>Ubuntu</td>
          <td>12.04</td>
          <td>Available</td>
          <td></td>
        </tr>
        <tr>
          <td>CentOS</td>
          <td>6.4</td>
          <td>Available</td>
          <td>
            <div class="progress progress-success progress-striped active" style="margin-bottom: 0px;">
              <div class="bar" style="width: 40%;"></div>
            </div>
            <div style="display: block; width: 100%; margin-top: -21px; font-size: 11px; text-align: center;">Installing RHEL</div>
          </td>
        </tr>
        <tr>
          <td>RHEL</td>
          <td>6.4</td>
          <td>Not available</td>
          <td><span class="btn-link rhel-license">Download</span></td>
        </tr>
      </tbody>
      </thead>
  
  </table>

  <h4>OpenStack Releases</h4>

  <table class="table table-bordered table-striped">
    <thead>
        <tr>
          <th width="52%">Name</th>
          <th width="12%">OS</th>
          <th width="12%">Version</th>
          <th width="12%">Status</th>
          <th width="12%">Action</th>
        </tr>
        <tbody>
        <tr>
          <td>Mirantis OpenStack</td>
          <td>CentOS</td>
          <td>Grizzly-2013.1</td>
          <td>Available</td>
          <td></td>
        </tr>
        <tr>
          <td>RedHat OpenStack (RHOS)</td>
          <td>RHEL</td>
          <td>Grizzly-2013.1</td>
          <td>Not available</td>
          <td><a href="#">Download</a></td>
        </tr>
      </tbody>
      </thead>
  
  </table>

  <section>
    <table class="table table-bordered table-releases">
      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <% releases.each(function(release) { %>
        <tr>
          <td><%- release.get('name') %> <%- release.get('version') %></td>
          <td><%- release.get('description') %></td>
        </tr>
        <% }) %>
      </tbody>
    </table>
  </section>
<% } else { %>
  <div class="alert">There are no OpenStack releases available.</div>
<% } %>

</div>
