<div class="row-fluid">
  <div class="span12">
    <h3 class="page-title">支持</h3>
  </div>
</div>
<div class="support page-wrapper">
  <div class="span12">
    <p>
	  不要犹豫点击下面的按钮来报告问题和改善建议。我们会尽快给你回复。
    </p>
    <p>
      <a class="btn" href="http://www.trystack.cn" target="_blank">联系技术支持</a>
    </p>
    <p>
	  如果你有任何问题，你可以通过IRC频道 #openstack-fuel <a href="http://freenode.net" target="_blank">freenode.net</a>向开发者寻求帮助。
    </p>
    <p></p>
    <p>
	  如果你在使用Fuel Web时遇到一些bug或则错误，你可能还需要提供技术团队Fuel Web的日志。
	  你可以点击下面的按钮获取日志：
    </p>
    <p>
      <button class="btn download-logs">下载日志</button>
    </p>
  </div>
</div>
