<div class="wrapper">
  <h3 class="span12">Networks Interfaces</h3>

  <div class="row">

    <!-- network block start -->
    <div class="physical-network-box">
      <div class="network-box-name">eth0</div>
      <div class="network-box-item">
        
        <div class="network-info-box online">
          <div>MAC: 00-13-00-E1-11-11</div>
          <div>Speed: 1gb</div>
        </div>

        <div class="logical-network-box">
          <div class="logical-network-item">Management</div>
          <div class="logical-network-item">Floating</div>
          <div class="logical-network-item">Public</div>
          <div class="logical-network-item">Storage</div>
          <div class="logical-network-item">Fixed</div>
          <div class="logical-network-item">Admin</div>
        </div>

      </div>
    </div>
    <!-- network block end -->

    <!-- network block start -->
    <div class="network-box">
      <div class="network-box-name">eth1</div>
      <div class="network-box-item">
        
        <div class="network-info-box online">
          <div>MAC: 00-13-00-E1-11-11</div>
          <div>Speed: 1gb</div>
        </div>

        <div class="logical-network-box">
          <div class="logical-network-item">Admin</div>
        </div>

      </div>
    </div>
    <!-- network block end -->

    <!-- network block start -->
    <div class="network-box">
      <div class="network-box-name">eth2</div>
      <div class="network-box-item">
        
        <div class="network-info-box offline">
          <div>MAC: 00-13-00-E1-11-11</div>
          <div>Speed: 1gb</div>
        </div>

        <div class="logical-network-box">
          <div class="network-offline-message">You cannot use this network now.</div>
        </div>

      </div>
    </div>
    <!-- network block end -->

    <!-- network block start -->
    <div class="network-box">
      <div class="network-box-name">eth3</div>
      <div class="network-box-item">
        
        <div class="network-info-box online">
          <div>MAC: 00-13-00-E1-11-11</div>
          <div>Speed: 1gb</div>
        </div>

        <div class="logical-network-box">
          <div class="network-help-message">Use drag-and-drop for placing logical interfaces here</div>
        </div>

      </div>
    </div>
    <!-- network block end -->
    

  </div>

  <!-- page-control box -->
  <div class="row">
    <div class="page-control-box">
      <div class="page-control-button-placeholder">
        <button class="btn btn-load-defaults">Load Defaults</button>
        <button class="btn btn-revert-changes" disabled>Cancel Changes</button>
        <button class="btn btn-success btn-apply-changes" disabled>Save Settings</button>
      </div>
    </div>
  </div>

</div>
<!--
<div class="wrapper">
  <h3 class="span12">Logs</h3>

  <div class="row">
    <div class="filter-bar">
      <div class="filter-bar-item log-type-filter">
        <div class="filter-bar-label">Logs</div>
        <select name="type" class="filter-bar-dropdown input-medium">
          <% _.each(types, function(type) { %>
            <option value="<%= type[0] %>" <%= chosenType == type[0] ? 'selected' : '' %>><%- type[1] %></option>
          <% }) %>
        </select>
      </div>

      <div class="filter-bar-item log-node-filter" style="display:none">
        <div class="filter-bar-label">Node</div>
        <select name="node" class="filter-bar-dropdown input-large">
          <% cluster.get('nodes').each(function(node) { %>
            <option value="<%= node.id %>" <%= node.id == chosenNodeId ? 'selected' : '' %>><%- node.get('name') || node.get('mac') %></option>
          <% }) %>
        </select>
      </div>

      <div class="filter-bar-item log-source-filter">
        <div class="filter-bar-label">Source</div>
        <select name="source" class="filter-bar-dropdown input-medium" disabled></select>
      </div>

      <div class="filter-bar-item log-level-filter">
        <div class="filter-bar-label">Min. level</div>
        <select name="level" class="filter-bar-dropdown input-small" disabled></select>
      </div>

      <div class="filter-bar-item">
        <button class="filter-bar-btn show-logs-btn btn disabled">Show</button>
      </div>
    </div>
  </div>

  <div class="logs-fetch-error alert alert-error hide">
    Unable to fetch logs.
  </div>

  <div class="node-sources-error alert alert-error hide">
    Unable to fetch log sources.
  </div>

  <table class="table table-bordered table-condensed table-logs hide">
    <thead>
      <tr>
        <th nowrap>Date</th>
        <th nowrap>Level</th>
        <th>Message</th>
      </tr>
    </thead>
    <tbody class="entries-skipped-msg">
      <tr>
        <td colspan="3">
          Some previous lines skipped.
          Show more lines:
          <span class="show-all-entries">All</span>
        </td>
      </tr>
    </tbody>
    <tbody class="log-entries"></tbody>
    <tbody class="no-logs-msg">
      <tr>
        <td colspan="3">No log entries match current filters.</td>
      </tr>
    </tbody>
  </table>

  <div class="logs-loading row row-fluid hide">
    <div class="span4"></div>
    <div class="span4">
      <div class="progress progress-striped progress-success active">
        <div class="bar" style="width: 100%"></div>
      </div>
    </div>
  </div>

</div>
-->