<div class="wrapper">
  <h3 class="span12">Red Hat Enterprise Linux Settings</h3>
  <div class="row-fluid">

  	<div class="radio-checkbox-group net-manager">
        <div class="item-box">
            <label class="parameter-box clearfix">
              <div class="parameter-control">
                <div class="custom-tumbler">
                  <input type="radio" value="" name="rh_select" checked>
                  <!--[if !IE |(gte IE 9)]>--><span>&nbsp;</span><!--<![endif]-->
                </div>
              </div>
              <div class="parameter-name">RHSM</div>
            </label>
         </div>
         <div class="item-box">
            <label class="parameter-box clearfix">
              <div class="parameter-control">
                <div class="custom-tumbler">
                  <input type="radio" value="" name="rh_select">
                  <!--[if !IE |(gte IE 9)]>--><span>&nbsp;</span><!--<![endif]-->
                </div>
              </div>
              <div class="parameter-name">RHN Satellite</div>
            </label>
         </div>
    </div>
   	
    <hr>

    <label class="parameter-box clearfix setting">
        <div class="openstack-sub-title parameter-name">Red Hat Username</div>
        <div class="parameter-control">
          <div class="parameter-control">
            <input type="text" value="">
          </div>
        </div>
        <div class="parameter-description description"></div>
    </label>

    <label class="parameter-box clearfix setting">
        <div class="openstack-sub-title parameter-name">Red Hat Password</div>
        <div class="parameter-control">
          <div class="parameter-control">
            <input type="password" value="">
          </div>
        </div>
        <div class="parameter-description description"></div>
    </label>

    <label class="parameter-box clearfix setting">
        <div class="openstack-sub-title parameter-name">Satellite Server Hostname</div>
        <div class="parameter-control">
          <div class="parameter-control">
            <input type="text" value="">
          </div>
        </div>
        <div class="parameter-description description">for example: satellite.mycompany.com</div>
    </label>

    <label class="parameter-box clearfix setting">
        <div class="openstack-sub-title parameter-name">Activation Key</div>
        <div class="parameter-control">
          <div class="parameter-control">
            <input type="text" value="">
          </div>
        </div>
        <div class="parameter-description description">optional</div>
    </label>

  </div>

  <!-- page-control box -->
  <div class="row">
    <div class="page-control-box">
      <div class="page-control-button-placeholder">
        <button class="btn btn-revert-changes">Cancel Changes</button>
        <button class="btn btn-success btn-apply-changes">Save Settings</button>
      </div>
    </div>
  </div>

</div>
