<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal">×</button>
  <h3>创建一个openstack环境</h3>
</div>
<div class="modal-body create-cluster-form">
  <form class="form-horizontal create-cluster-form" onsubmit="return false">
    <fieldset>
      <div class="control-group">
        <label class="control-label">名字</label>
        <div class="controls">
          <input type="text" class="input-large" name="name" maxlength="50" autofocus />
          <span class="help-inline"></span>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label">OpenStack版本</label>
        <div class="controls">
          <select name="release"></select>
        </div>
      </div>
      <div class="release-description help-block"></div>
    </fieldset>
  </form>

  <div class="credentials rhel-license hide"></div>
  <div class="alert alert-info rhel-license hide">
    在部署红帽的openstack时，首先必须先下载RHOS和RHEL并缓存在Fuel的主节点上。你可以通过版本页面或则选择你的订阅类型并输入你的凭证。RHEL和RHOS将自动下载并缓存到你的创建的环境中。
  </div>

</div>
<div class="modal-footer">
  <button class="btn" data-dismiss="modal">取消</button>
  <button class="btn btn-success create-cluster-btn">创建</button>
</div>
